.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/rc background 1.jpg'); /* Background image */
  }

.loginContainer {
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.leftPanel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightPanel {
    flex: 1;
    background: linear-gradient(550deg, #1669EF 0%, #266ca9 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.loginTitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.inputField:focus {
    border-color: #1669EF;
}

.inputContainer {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.inputIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.eyeIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.buttonContainer {
    display: flex; /* Use flexbox to place buttons side by side */
    justify-content: space-between; /* Space them out evenly */
    width: 60%; /* Match the button width */
    margin: 20px auto 0; /* Center the container */
}

.loginButton, .cancelButton {
    flex: 1; /* Make both buttons take equal space */
    margin: 0 10px; /* Add margin between buttons */
    padding: 8px; /* Consistent padding */
    background-color: #266ca9;
    color: white;
    border: none;
    border-radius: 10px; /* Square corners */
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.loginButton:hover, .cancelButton:hover {
    background-color: #1457cc; /* Change hover color */
    transform: translateY(-3px);
}

.logo {
    width: 200px;
    height: 200px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.systemTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
}

.cancelButton {
    padding: 5px; /* Keep padding consistent */
    background-color: #747070;
    color: rgb(231, 221, 221);
    border: none;
    border-radius: 15px; /* Make it square */
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 0 0 0; /* Align to the left */
    width: 100%; /* Keep the same width */
    text-align: center; /* Center the text */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.cancelButton:hover {
    background-color: #3a3a3a;
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .loginContainer {
        flex-direction: column;
        height: auto;
    }

    .rightPanel {
        border-radius: 0 0 20px 20px;
    }

    .logo {
        margin-bottom: 10px;
    }
}
